<header class="header">
  <div class="block">
    <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <nav>
      <ul>
        <li>
          <a title="Home" href="/">
            <i class="fa fa-home"></i>
          </a>
        </li>
        {% for p in site.pages %}
          {% if p.title %}
            <li>
              <a title="{{ p.title }}" href="{{ p.url | prepend: site.baseurl }}">
                <i class="{{ site.navIcons[p.url] }}"></i>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
