.header{
  a{
    color: #fff;
  }
  background: #0cf;
  h1{
    @include font-size(2.2);
    a{
      text-decoration: none;
    }
  }
  nav{
    li{
      display: inline;
      &:not(:last-child):after{
        content: ' | ';
        color: #fff;
      }
    }
  }
}

.footer{

  border-top: solid 3px #eee;
  color: #aaa;
  a{
    color: #aaa;
    text-decoration: underline;
  }
}

[role=main]{
  background: #fff;
}

a{
  color: #09f;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

time{
  color: #ccc;
}

strong{
  font-weight: bold;
}

em{
  font-style: italic;
}
