.header{
  a{
    color: #fff;
  }
  background: #0cf;
  h1{
    @include font-size(2.2);
    a{
      text-decoration: none;
    }
  }
}

.footer{

  border-top: solid 3px #eee;
  color: #aaa;
  a{
    color: #aaa;
  }
}

[role=main]{
  background: #fff;
}

a{
  color: #09f;
  &:hover{
    text-decoration: none;
  }
}

time{
  color: #ccc;
}
