.header{
  position: relative;
  a{
    color: #fff;
  }
  background: #0cf;
  h1{
    @include font-size(2.2);
    margin-bottom: 10px;
    a{
      text-decoration: none;
    }
  }
  nav{
    ul{
      li{
        display: inline-block;
        a{
          display: inline-block;
          background: #0af;
          border-radius: 10px;
          width: 60px;
          height: 60px;
          line-height: 60px;
          &:hover{
            background: #09f;
          }
          i{
            @include font-size(2.2);
            height: 60px;
            line-height: 60px;
          }
        }
      }
    }
  }
}

.footer{

  border-top: solid 3px #eee;
  color: #aaa;
  a{
    color: #aaa;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}

[role=main]{
  background: #fff;
}

a{
  color: #09f;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

time{
  color: #ccc;
}

strong{
  font-weight: bold;
}

em{
  font-style: italic;
}
