* {
  box-sizing: border-box
}

figure{
  margin: 0;
  padding: 0;
}


.block{
  padding: 20px 12px;
  text-align: center;
  .container{
    margin: auto;
    text-align: left;
    max-width: 1200px;
  }
}

.grid{
  position: relative;
  margin-left: -12px;
  margin-right: -12px;
  padding: 6px;
  li{
    float: left;
    width: 25%;
    figure{
      margin: 6px;
      figcaption{
        text-align: center;
      }
    }
  }
}

@media (max-width: $MD){
  .grid{
    li{
      width: 50%;
    }
  }
}


img{
  width: 100%;
  height: auto;
}



.hero{
  height: 0;
  padding-top: 70%;
  position: relative;
  figure{
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: $MD){
  .hero{
    padding-top: 60%;
  }
}

@media (min-width: $XL){
  .hero{
    padding-top: 40%;
  }
}
