---
layout: default
---

{% if page.hero %}
  <div class="hero">
    <figure style="background-image: url({{ page.hero }})"></figure>
  </div>
{% endif %}

<div class="block">
  <article class="container type">
    <h1>{{ page.title }}</h1>
    {% if page.isPost %}
      <time>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</time>
    {% endif %}
    {{ content }}
    {% if page.gallery %}
      <ul class="grid">
        {% for item in page.gallery %}
          <li>
            <figure>
              <img src="{{ item.file }}">
              <figcaption>{{ item.caption }}</figcaption>
            </figure>
          </li>
        {% endfor %}
      </ul>
      <br />
    {% endif %}
  </article>
</div>
